
      <ul class="nav navbar-dark jumbotron">
            <li class="nav-item" routerLinkActive="red">
                  <a class="nav-link" [routerLink]="'/register'">Register</a>
            </li>
            <li class="nav-item" routerLinkActive="red" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link" [routerLink]="'/'">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="red">
              <a class="nav-link" [routerLink]="'/todo/add'">Add</a>
            </li>
            <li class="nav-item" routerLinkActive="red">
              <a class="nav-link" [routerLink]="['/todo', 'edit','2']">Edit</a>
            </li>
            <li class="nav-item" routerLinkActive="red">
                <a class="nav-link" [routerLink]="'/category/add'">Add Category</a>
              </li>
              <li class="nav-item" routerLinkActive="red">
                <a class="nav-link" [routerLink]="['/category', 'edit','2']">Edit Category</a>
              </li>
              <li class="nav-item" routerLinkActive="red" [routerLinkActiveOptions]="{exact: true}">
                  <a class="nav-link" [routerLink]="'/category'">Display Category</a>
                </li>
      </ul>