<form (ngSubmit)="onClick(addcategoryForm)" #addcategoryForm="ngForm">
    <div class="jumbotron col-6">
       <label class="text-info">Add Category:</label>
       <div>
         <label>Name</label>
          <input type="text" class="col pull-right" id="listName"  placeholder="Add Category Name" for="btn" ngModel valid required minlength="5" name="categoryName">  
       </div>
       <div>
          <label>ID</label>
          <input type="text" class="col pull-right" id="listName"  placeholder="Add Category ID" for="btn" ngModel valid required name="categoryID"> 
       </div>
     </div>
       <div>
           <input  class="btn btn-success float-right" id="btnAdd" type="Submit" value="Add Category">
    </div>
  </form>
  