<form (ngSubmit)="onClick(addtoDoForm)" #addtoDoForm="ngForm">
  <div class="jumbotron">
    <label class="text-info">Add Item in List:</label>
    <!-- <input type="text" class="col pull-right" id="listName"  placeholder="Add List Name" for="btn" #newItemName> -->
    <input type="text" class="col pull-right" id="listName"  placeholder="Add List Name" for="btn" ngModel valid required minlength="5" name="toDoName">
    <!-- <label class="radio-inline col">
      <input type="radio" id="doneradioBtn" name="statusradio" checked>Done
    </label>
    <label class="radio-inline col">
      <input type="radio" id="notDoneRadioBtn" name="statusradio">Not Done
    </label> -->

    <div *ngFor="let status of Statuses">
      <input type="radio" name="statusSelection" value="{{status}}" (change)="radioChangeHandler($event) " ngModel name="toDoStatus">
      <i>{{status}}</i>
    </div>
    <input  class="btn btn-success float-right" id="btnAdd" type="Submit" value="Add To Do">
    <!-- <button type="button" class="btn btn-success float-right" id="btnAdd" (click)="onClick(newItemName)">Add To Do</button> -->
  </div>
</form>
