<form>
    <div class="jumbotron col-6">
        <label class="text-info">Edit Category:</label>
        <div>
          <label>Name</label>
           <input type="text" class="col pull-right" id="listNameForEdit"  placeholder="Edit Category Name" for="btn" [value]="itemEdit.name" #name>  
        </div>
        <div>
           <label>ID</label>
           <input type="text" class="col pull-right" id="listIdForEdit"  placeholder="Edit Category ID" for="btn" [value]="itemEdit.ID" #ID> 
        </div>
      </div>
        <div>
            <button type="button" class="btn btn-success float-right" id="btnSave" (click)="btnSave()">Save</button>
            <button type="button" class="btn btn-danger float-right" id="btnCancel" (click)="btnCancel()">Cancel</button>
     </div>
  </form>
  <p>
      <a
        [routerLink]="['/category', 'edit', 3]"
  
        [queryParams]="{a: 'A', b: 'B'}"
  
        [fragment]="'Hello'"  >
        Test Link
      </a>
      for item 3
    </p>
    <p>
      <!-- {{ paramA }} - {{ paramB }} - {{ fragment }} -->
    </p>
  