<form>
  <div class="jumbotron">
    <label class="text-info">Edit Item in Todo List:</label>
    <!-- <input type="text" class="col pull-right" id="listName" name="listName" placeholder="Edit List Name" for="btn"  [value]="itemEdit.name" #itemName> -->
    <input type="text" class="col pull-right" id="listNameForEdit" placeholder="Edit ToDo Item" for="btn" [value]="itemEdit.name" #name>
    <div *ngFor="let status of Statuses"> 
        <input type="radio" name="statusSelection" (change)="radioChangeHandler($event)" [checked]="status === itemEdit.status" value="{{status}}">
        <i>{{status}}</i>
      </div>
    <button type="button" class="btn btn-success float-right" id="btnSave" (click)="btnSave()">Save</button>
    <button type="button" class="btn btn-danger float-right" id="btnCancel" (click)="btnCancel()">Cancel</button>
  </div>
</form>
<p>
    <a
      [routerLink]="['/todo', 'edit', 3]"

      [queryParams]="{a: 'A', b: 'B'}"

      [fragment]="'Hello'"  >
      Test Link
    </a>
    for item 3
  </p>
  <p>
    <!-- {{ paramA }} - {{ paramB }} - {{ fragment }} -->
  </p>
