
  <div class="row">
<div class="text-danger jumbotron col-6">
    <form (ngSubmit)="dropdown(dropdowntoDoForm)" #dropdowntoDoForm="ngForm">
      <select name="status" ngModel name="statusSelected">
        <option value="all">All</option>
        <option value="Not Done">Not Done</option>
        <option value="Done">Done</option>
      </select>
      <input  class="btn btn-success float-right" id="dropdown" type="Submit" value="Submit">
    </form>
  <p>Items in List</p>
  <ul class="list-group">
      <li *ngFor="let singleitem of toDoServices.todos|todostatusfilter:dropdownValue ; let i = index" class="list-group-item"> 
        <table class="table table-dark">
            <tr>
              <th>To Do List</th>
              <th>Is Done</th>
              <th>Delete</th>
              <th>Edit</th>
            </tr>
          <tbody>
            <tr>
              <td>{{ singleitem.name|substring:0:20 }}</td>
              <td>
                {{singleitem.status}}
              </td>
              <td>
                <button type="button" class="btn btn-danger" id="btnAdd" (click)="onClick(i)">delete</button>
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="toggleBtn(i)"> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
  </ul>
  </div>
  <!-- <app-editlist *ngIf="visible" [todo]="editFormItem" [itemEdit]="textData"></app-editlist> -->
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
  