
  <div class="row">
      <div class="text-danger jumbotron col-6">
        <p>Categories</p>
        <ul class="list-group">
            <li *ngFor="let singleitem of categoryServices.categories; let i = index" class="list-group-item"> 
              <table class="table table-dark">
                  <tr>
                    <th>category Name</th>
                    <th>ID</th>
                    <th>Delete</th>
                    <th>Edit</th>
                  </tr>
                <tbody>
                  <tr>
                    <td>{{singleitem.name}}</td>
                    <td>
                      {{singleitem.ID}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" id="btnAdd" (click)="onClick(i)">delete</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" (click)="toggleBtn(i)"> Edit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </li>
        </ul>
        </div>
        <div class="col-6">
          <router-outlet></router-outlet>
        </div>
      </div>
        