<!-- <app-add (itemAdded)="newItemAdded($event)"></app-add> -->
<!-- <app-add></app-add> -->
<!-- <app-display [ItemList]="items" (itemRemoved)="itemRemoved($event)" (itemOpenForEdit)="openForEdit($event)"></app-display> -->
<!-- <app-display></app-display> -->
<!-- <app-editlist *ngIf="visible" [itemEdit]="item" (itemEdited)="ItemEdited($event)"></app-editlist>  -->




<div class="row">
    <div class="col">      
       <router-outlet></router-outlet>      
    </div>      
</div>

